@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avda. las Galgas, 38<br />
    Tenerife, 38070<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@charco.com">Support@charco.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Support@charco.com">Support@charco.com</a>
</address>