@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>Torneos de Tenis</h1>
    <p class="lead">Visita los torneo más importantes de la temporada</p>
    <p><a href="Login" class="btn btn-primary btn-lg">Admin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Torneos</h2>
        <p><img src="~/Resources/Images/torneo.jpg" />@Html.ActionLink("Ir a los torneos", "Index", "Torneos")</p>
    </div>
    <div class="col-md-4">
        <h2>Superficies</h2>
        <p><img src="~/Resources/Images/superficies.jpg" />@Html.ActionLink("Ir a las superficies", "Index", "Superficies")</p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p><a href="Login"><img src="~/Resources/Images/login.png" />  Ir a la identificación</a></p>
        <p><a class="btn btn-primary" href="Home/About">Acerca de...</a></p>
    </div>
</div>